<!DOCTYPE html>
<html  ng-app="plunkerApp">
<head>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

  <meta charset=utf-8 />
  <title>Angular JS Demo</title>
</head>

<body>
  
  
  <h2>Product List</h2> 
  <div id='one'>
  	
    <!--some reason the controller is messed up. Even a ng-repeat for an array there isnt working. You can see in the later table what i want to go. Just one step in many.-->
    <p ng-controller="prodCtrl">Hello : {{filterData.price.low}}</p>
     <md-checkbox class="md-secondary" ng-model="filterData.topChoices[0].selected">{{filterData.price.low}} Select</md-checkbox>
  </div>
 <table>
    <tr ng-repeat="product in [ { value: 'value 1' }, { value: 'value 2' }, { value: 'value 3' } ]">
      <td>{{product.value}}</td>
      <td></td>
    </tr>
  </table>
  
  <table ng-Controller="prodCtrl">
    <tr ng-repeat="product in productData">
      <td>{{product.name}}</td>
      <td>{{product.desc}}</td>
      <td>
        <ul ng-repeat="item in product.sellers">
          {{item.seller}}-${{item.price}}
        </ul>
      </td>
    </tr>
  </table>
      <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>


 <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  <script src="index.js"></script>
</body>

</html>




